<app-header></app-header>
<main class="container">
  <div class="action-bar">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
    <button class="btn-primary" (click)="showForm = !showForm">
      {{ showForm ? 'Cancelar' : '➕ Nuevo Asegurado' }}
    </button>
    <app-add-asegurado-form *ngIf="showForm"></app-add-asegurado-form>
  </div>

  <app-asegurado-form *ngIf="showForm"></app-asegurado-form>
  <app-asegurados-table [data]="aseguradosFiltrados"></app-asegurados-table>
</main>